html {
 background-image: url('https://prod-ping-sfc.zoominsoftware.io/bundle/pingid/page/ypc1564021208914.png?_LANG=enus');
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

